*{
    margin: 0;
    padding: 0;
}  
 
 html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    background-color: rgb(157, 255, 222);
    display: flex;
    align-items: center;
    justify-content: center; 
    

 }   
  
  #container{
    width: 300px;
    height:450px; 
    background-color: aliceblue;
    border-radius: 20px; 
    overflow: hidden; 
    object-fit:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 100px;
    color: white;
    cursor: pointer;
  }
  #container img{
    /* opacity: 90%; */
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  #container i{
    top: 50%;
    left: 50%;
    position: absolute;
    opacity: 0.8;
    transform: translate(-50%,-50%) scale(0);
    transition: all ease 0.4s;
  }
  
  